.logo-container {
    z-index: 0;
    width: 500px;
    height: 609px;
    position: absolute;
    top: 100;
    right: 2%;
    bottom: 0;
    left: auto;
    margin: auto;
    opacity: 0;
  
    svg {
      width: 100%;
      height: auto;
      bottom: 0;
      // transform: rotateZ(30deg) !important;
    }
  
    .solid-logo {
      position: static;
      top: auto;
      right: auto;
      bottom: auto;
      left: 0;
      margin: auto;
      width: 100%;
      opacity: 0;
      // transform: rotateZ(30deg) !important;
      z-index: 1;
    }
  }
  
  // .svg-container {
  //   stroke: #ffd700;
  //   stroke-width: 10;
  // } 